:root {
  --border-radius: 5px;
  --secondary-color: #f44336;
  --primary-color: #4caf50;
  --background: #607d8b;
  --black-color: #0c1c27;
  --white-color: #ffffff;
  --light-color: #9e9e9e;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  font-family: "verdana";
}

.wrapper {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  color: var(--black-color);
}

.guessboard {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.guessboard::after {
  content: "";
  position: absolute;
  clear: both;
  display: table;
}

.card {
  cursor: pointer;
  float: left;
  height: 90px;
  margin: 5px;
  width: 90px;
  font-size: 72px;
  background: var(--white-color);
  line-height: 69px;
  text-align: center;
  border-radius: var(--border-radius);
}

.card.x {
  background: var(--secondary-color);
  box-shadow: 2px 2px 0 1px var(--secondary-color);
  color: var(--white-color);
}

.card.o {
  background: var(--primary-color);
  box-shadow: 2px 2px 0 1px var(--primary-color);
  color: var(--white-color);
}

.card:nth-child(3n) {
  margin-right: 0;
}

.winner {
  font-size: 35px;
  color: var(--white-color);
  text-align: center;
}

.winner span {
  display: block;
  font-size: 72px;
  color: var(--light-color);
  text-shadow: 1px 1px 0 var(--white-color);
}

button {
  padding: 10px;
  font-size: 1em;
  color: var(--white-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  border: 0;
}
